<phpunit bootstrap="autoload.php">
    <testsuites>
        <testsuite name="ExampleApi">
            <file>ExampleApi/Distance.php</file>
        </testsuite>
        <testsuite name="Framework">
            <file>Framework/Routing.php</file>
        </testsuite>
        <testsuite name="RecruitMe">
            <file>RecruitMe/Job.php</file>
        </testsuite>
    </testsuites>
</phpunit>