RewriteEngine on

# Redirect all /api/ calls to example-api.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/example-api/(.*)$ example-api.php/$1 [QSA,L]

# Redirect all calls to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]